<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-back-button slot="start" defaultHref="/principal"></ion-back-button>
    <ion-title>Cambiar Datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Input Correo Actual -->
    <ion-item  lines="inset" class="ion-margin-top custom-line">
      <ion-input [(ngModel)]="mdl_correo_actual" label="Correo Actual" labelPlacement="floating" placeHolder="Ingresa Contraseña" class="label correo-input" [readonly]="true"></ion-input>
    </ion-item>
    <!-- Input actual Contraseña -->
    <ion-item lines="inset" class="ion-margin-top  custom-line">
      <ion-input [(ngModel)]="mdl_contrasena_actual" label="Contraseña Actual" labelPlacement="floating" placeHolder="Ingresa Contraseña" class="label" type="password"></ion-input>
    </ion-item>
  <!-- Input Nueva Contraseña -->
    <ion-item lines="inset" class="ion-margin-top  custom-line">
      <ion-input [(ngModel)]="mdl_contrasena_nueva" label="Contraseña Nueva" labelPlacement="floating" placeHolder="Ingresa Contraseña" class="label" type="password"></ion-input>
    </ion-item>
  <!-- Options Escuela -->
  <ion-item lines="inset" class="ion-margin-top custom-line">
    <ion-label>Escuela:</ion-label>
    <ion-select [(ngModel)]="mdl_escuela" (ionChange)="opEscuela()" placeholder="Selecciona tu escuela">
      <ion-select-option value="Administracion y Negocios">Administracion y Negocios</ion-select-option>
      <ion-select-option value="Comunicacion">Comunicacion</ion-select-option>
      <ion-select-option value="Construccion">Construccion</ion-select-option>
      <ion-select-option value="Diseño">Diseño</ion-select-option>
      <ion-select-option value="Gastronomia">Gastronomia</ion-select-option>
      <ion-select-option value="Informatica y Telecomunicaciones">Informatica y Telecomunicaciones</ion-select-option>
      <ion-select-option value="Ingenieria y Recursos Naturales">Ingenieria y Recursos Naturales</ion-select-option>
      <ion-select-option value="Salud">Salud</ion-select-option>
      <ion-select-option value="Turismo y Hospitalidad">Turismo y Hospitalidad</ion-select-option>
    </ion-select>
  </ion-item>
  <!-- Options Carrera -->
  <ion-item lines="inset" class="ion-margin-top custom-line">
    <ion-label>Carrera:</ion-label>
    <ion-select [(ngModel)]="mdl_carrera_nueva" placeholder="Selecciona tu carrera">
      <ion-select-option *ngFor="let carrera of carrerasDispo" [value]="carrera">{{ carrera }}</ion-select-option>
    </ion-select>
  </ion-item>
  <!-- Botón confirmación -->
  <ion-button (click)="actualizarUsuario()" class="btn ion-margin-top" fill="solid" expand="block">
      <span>Confirmar Cambio</span>
  </ion-button>

  <ion-item *ngIf="v_visible" color="danger" class="ion-margin-top ion-text-center"><ion-label>{{ v_mensaje }}</ion-label></ion-item>

  <ion-alert
  [isOpen]="isAlertOpen"
  [header]="v_mensajeA"
  [buttons]="alertButtons"
  cssClass = "custom-alert-message"
></ion-alert>
</ion-content>
