<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-title>Perfil</ion-title>
    <ion-back-button slot="start" defaultHref="/principal"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding bkgrnd">
  <ion-avatar class="contenedorPerfil">
    <img alt="Silhouette of a person's head" src="../../../assets/img/loginIcon.webp" />
  </ion-avatar>
  <p class="bienvenida">Bienvenido/a</p>
  <ion-card class="datosPerfil">
    <ion-card-header>
      <ion-card-title>Datos de Usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list class="datosPerfil">
        <!-- Usuario -->
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-icon class="icons" name="person-circle-sharp"></ion-icon>
          </ion-thumbnail>
          <ion-label> {{ nombre }} {{ apellido }}</ion-label>
        </ion-item>
        <!-- Correo -->
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-icon class="icons" name="mail-sharp"></ion-icon>
          </ion-thumbnail>
          <ion-label>{{ correo }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-icon class="icons" name="book-outline"></ion-icon>
          </ion-thumbnail>
          <ion-label>{{ carrera }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-icon class="icons" name="pin-outline"></ion-icon>
          </ion-thumbnail>
          <ion-label>Sede: {{ sedeApiNombre }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<!-- Tab bar/barra de navegacion -->
<app-nav-bar></app-nav-bar>
