.contenedorPerfil {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    border-radius: 50%; 
    overflow: hidden; 
    vertical-align: middle;
    margin: auto;
    display: flex;
}

#barcode-container {
  text-align: center;
}

svg {
  display: block;
  margin: 20px auto;
}
#barcode {
  width: 100%;
  height: auto;
  max-width: 300px; /* Ajusta este tamaño según sea necesario */
}


.bienvenida{
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: bold;
}

.icons {
    font-size: 50px;
    color: black;
}

.datosPerfil {
    background-color: rgb(196, 196, 196);
    --ion-card-background:  rgb(196, 196, 196);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  .datosPerfil ion-item {
    --background: rgb(196, 196, 196);
    --ion-item-background: rgb(196, 196, 196);
    border-radius: 8px;
    margin-bottom: 8px;
  }

  .datosPerfil ion-label {
    color: black !important;
    font-weight: 500; 
  }

  .datosPerfil ion-card-title {
    color: black;
}
