<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-title> {{ sedeApiNombre }} </ion-title>
    <ion-buttons slot="end">
      <!-- Botón para Modificar Contraseña -->
      <ion-button (click)="navegarCambiarContrasena()">
        <ion-icon name="create-outline" slot="icon-only" class="white-icon"></ion-icon>
      </ion-button>
      <!-- Botón para cerrar sesión -->
      <ion-button (click)="cerrarSesion()">
        <ion-icon slot="icon-only" name="log-out-outline" class="white-icon"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding bkgrnd">
  <!-- Logo DuocUC -->
   <div class="logo">
    <img class="logo-title" src="../../../assets/img/Logo_DuocUC.svg.png" alt="Logo" style="height: 50px;">
   </div>
   <!-- Bienvenida a usuario -->
    <h1 class="profile-title">¡¡ Bienvenido {{ nombre }} !!</h1>
    <!-- Card para mostrar sede de usuario -->
     <ion-card class="card-principal">
      <img alt="Silhouette of mountains" src="{{ sedeApiImagen }}">
      <ion-card-header>
        <ion-card-subtitle> Estas Matriculado en</ion-card-subtitle>
        <ion-card-title> {{ sedeApiNombre }} </ion-card-title>
      <ion-card-subtitle class=""> {{ sedeApiDireccion }} </ion-card-subtitle>
      <ion-card-subtitle class=""> {{ sedeApiTelefono }} </ion-card-subtitle>
    </ion-card-header>
      <ion-card-subtitle class="ion-text-center"> {{ sedeApiHorarioAtencion }} </ion-card-subtitle>
    </ion-card>
    <p class="description">Con esta nueva aplicación podrás registrar tu asistencia, buscamos mejorar tu experiencia en
      DuocUC y hacer nuestras clases cada vez más eficientes</p>
      <div class="text-container ion-text-center">
        <small class="registerQ">¿Tu sede está incorrecta?</small>
      </div>
      <div class="text-container ion-text-center">
        <small class=signup-button (click)="irActualizarSede()">Actualízala acá</small>
      </div>

      <ion-alert
      [isOpen]="isAlertOpen"
      [header]="v_mensaje"
      [buttons]="alertButtons"
      cssClass = "custom-alert-message"
    ></ion-alert>

</ion-content>

<!-- Tab bar/barra de navegacion -->
<ion-footer>
  <ion-toolbar>
    <div class="footer-icons">
      <ion-tab-button>
        <ion-icon name="qr-code"></ion-icon>
      </ion-tab-button>
      <ion-tab-button>
        <ion-icon name="business-outline" (click)="irSedes()"></ion-icon>
      </ion-tab-button>
      <ion-tab-button>
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button>
        <ion-icon name="person" (click)="irPerfil()"></ion-icon>
      </ion-tab-button>
    </div>
  </ion-toolbar>
</ion-footer>