<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-back-button slot="start" defaultHref="/principal"></ion-back-button>
    <ion-title>Sedes Duoc</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding bkgrnd">
  <h1 class="profile-title">Estas son nuestras sedes a lo largo de la región metropolitana</h1>
  <ion-item *ngFor="let sede of listaSedes" class="bkgrnd">
    <ion-card>
      <img alt="Institucion de DuocUc" src="{{ sede.imagen }}" />
      <ion-card-header>
        <ion-card-title>{{ sede.nombre }}</ion-card-title>
        <ion-card-subtitle>{{ sede.direccion }}</ion-card-subtitle>
        <ion-card-subtitle>{{ sede.telefono }}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        {{ sede.horario_atencion}}
      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-content>

<!-- Tab bar/barra de navegacion -->
 <app-nav-bar></app-nav-bar>
