.logo{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 30%;
    margin-top: 20%;
}

.signup-button {
    color:#ffffff;
    cursor: pointer;
    font-weight: bold;
}

.inputLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    --background: #ffffff; 
    color: #000;
    border-radius: 8px; 
    width: 85%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}