<ion-content [fullscreen]="true" class="fondo">
  <!-- Logo Duoc -->
  <div class="logo">
    <img src="../../../assets/img/fondo-azul.jpg" alt="Logo" style="height: 50px">
  </div>
  <!-- Input Correo -->
  <ion-item lines="none" class="ion-margin-top input">
    <ion-input [(ngModel)]="mdl_correo" label="Correo:" labelPlacement="floating" placeholder="Ingresa tu Correo" class="label"></ion-input>
  </ion-item>
  <!-- Input Contraseña -->
  <ion-item lines="none" class="ion-margin-top input">
    <ion-input [(ngModel)]="mdl_contrasena" label="Contraseña:" labelPlacement="floating" placeholder="Ingresa Usuario" class="label"></ion-input>
  </ion-item>
  <!-- Botón Inicio Sesión -->
  <ion-button (click)="login()" class="btn ion-margin-top" fill="solid" expand="block">
    <ion-spinner *ngIf="spinnervisible" name="circular" slot="start"></ion-spinner>
    <!-- Spinner -->
    <span *ngIf="!spinnervisible">Ingresar</span>
  </ion-button>
  <!-- Mensaje -->
  <ion-item *ngIf="v_visible" color="warning" class="ion-margin-top ion-text-center"><ion-label>{{ v_mensaje }}</ion-label></ion-item>
  <!-- Registro -->
   <div class="text-container ion-text-center">
    <small class="registerQ">¿No estás registrado?</small>
    <small class="signup-button" (click)="signUp()">. Crea una cuenta aquí</small>
   </div>
   <!-- Toast -->
   <ion-toast
    [isOpen]="isToastOpen"
    [message]="v_mensaje"
    [duration]="duration"
    (didDismiss)="setOpen(false)"
    position="bottom"
  ></ion-toast>
</ion-content>
