<!-- Tab bar/barra de navegacion -->
<ion-footer>
  <ion-toolbar>
    <div class="footer-icons">
      <ion-tab-button>
        <ion-icon name="qr-code" (click)="irAsignaturas()"></ion-icon>
      </ion-tab-button>
      <ion-tab-button>
        <ion-icon name="business-outline" (click)="irSedes()"></ion-icon>
      </ion-tab-button>
      <ion-tab-button>
        <ion-icon name="home" (click)="irHome()"></ion-icon>
      </ion-tab-button>
      <ion-tab-button>
        <ion-icon name="person" (click)="irPerfil()"></ion-icon>
      </ion-tab-button>
    </div>
  </ion-toolbar>
</ion-footer>
