.footer-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    background-color: #f8f9fa;
  }
  
  ion-icon {
    font-size: 28px;
    color: #000;
  }

  .card-principal {
    width: 80%;
    margin: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

.white-icon {
    color: white;
  }