/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

.fondo{
    --background: #0B253E;
}

.label{
    --highlight-color: #15af01;
}

.input{
    --background:#ffffff;
    --color: #0B253E;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    width: 85%;
    border: 1px solid transparent;
}

//login y registro
.btn{
    --background: #F8B31C;
    --color: #0B253E;
    --border-radius: 5px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    margin-bottom: 10px;
}

.registerQ{
    color: grey;
}

.signup-button {
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

.toolbar{
    --background: #0B253E;
    --color: white;
    font-weight: 400;
  }

.bkgrnd{
    --background: #242424;
}

.description {
    color: rgb(255, 255, 255);
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.bar {
    padding: 10px 0; /* Asegúrate de que sea suficiente para contener el contenido */
}

.footer-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    background-color: #f8f9fa;
  }
  
  ion-icon {
    font-size: 28px;
    color: #000;
  }

  .card-principal {
    width: 80%;
    margin: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

.white-icon {
    color: white;
  }

.logo {
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
}

/*.inputR{
    --background: transparent;
    --color: #0B253E;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    width: 85%;
    border-bottom: 1px solid #012b52;
}*/

.inputR {
  --background: #181818;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 0 black, 
               -1px -1px 0 black, 
               1px -1px 0 black, 
               -1px 1px 0 black;
  border-radius: 5px;
}

.fondo-bienvenida {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Asegura que ocupe toda la pantalla */
    --background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(27, 23, 73) 74%, rgb(40, 38, 155) 100%);
  }

.logo-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
  }
  
  .logo-bienvenida {
    max-width: 70%; /* Ajusta el tamaño del logo */
    max-height: 50%; /* Evita que se distorsione si la pantalla es muy pequeña */
    object-fit: contain; /* Mantiene la proporción del logo */
  }

  ion-footer {
    --ion-background-color: white;
    --background: white;
  }
  ion-toolbar {
    --ion-background-color: white;
    --background: white;
  }

  .datosPerfil {
    background-color: rgb(196, 196, 196);
    --ion-card-background:  rgb(196, 196, 196);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  .datosPerfil ion-item {
    --background: rgb(196, 196, 196); /* Fondo blanco para cada item */
    --ion-item-background: rgb(196, 196, 196);
    border-radius: 8px; /* Opcional: bordes suaves en los items */
    margin-bottom: 8px; /* Opcional: separación entre items */
  }

  .datosPerfil ion-label {
    color: black !important; /* Asegura que la letra sea negra */
    font-weight: 500; /* Opcional: hace el texto más legible */
  }

  .datosPerfil ion-card-title {
    color: black; /* Cambia el color a negro */
}


