/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
@import "@ionic/angular/css/palettes/dark.class.css";
/* @import "@ionic/angular/css/palettes/dark.system.css"; */


.centerContainer {
  display: flex;
  justify-content: center;
  align-items: center;     
  height: 100%;
}

.fondo{
    --background: #0B253E;
}

.label{
    --highlight-color: #15af01;
}



//login y registro
.btn{
    --background: #F8B31C;
    --color: #0B253E;
    --border-radius: 5px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    margin-bottom: 10px;
}

.registerQ{
    color: grey;
}


.toolbar{
    --background: #0B253E;
    --color: white;
    font-weight: 400;
  }


.description {
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.bar {
    padding: 10px 0;
}

.logo {
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
}


.logo-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .logo-bienvenida {
    max-width: 70%;
    max-height: 50%;
    object-fit: contain;
  }

  ion-footer {
    --ion-background-color: white;
    --background: white;
  }
  ion-toolbar {
    --ion-background-color: white;
    --background: white;
  }

  .datosPerfil {
    background-color: rgb(196, 196, 196);
    --ion-card-background:  rgb(196, 196, 196);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  .datosPerfil ion-item {
    --background: rgb(196, 196, 196);
    --ion-item-background: rgb(196, 196, 196);
    border-radius: 8px;
    margin-bottom: 8px;
  }

  .datosPerfil ion-label {
    color: black !important;
    font-weight: 500; 
  }

  .datosPerfil ion-card-title {
    color: black;
}

.cerrar-sesion-alerta .alert-button-group {
  justify-content: space-between; /* Ubica los botones en extremos opuestos */
}

.cerrar-sesion-alerta .alert-button {
  flex: 1; /* Asegura que los botones se distribuyan adecuadamente */
}

.cerrar-sesion-alerta .alert-button:first-child {
  margin-left: auto; /* Mueve el botón "No" hacia el extremo izquierdo */
  color: blue;
}

.cerrar-sesion-alerta .alert-button:last-child {
  margin-left: auto; /* Mueve el botón "Sí" hacia el extremo derecho */
  color: red;
}
